<% layout("/layouts/boilerplate") %>

  <body>
    <!-- CREATE A NEW LISTING  -->
    <!-- <h1>create new listing</h1> -->
    <!-- <form method="get" action="/listings/new">
        <button>Create New Listing</button>
    </form> -->

    <!-- SHOW CASE ALL THE LISTING PREPERTY FROM DATABASE  -->

    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-3">
      <% for(listing of listings){ %>
        <a href="/listings/<%=listing._id%>" class="list-property">
          <div class="card col">
            <img src="<%=listing.url%>" class="card-img-top" alt="Listings_Image">
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <h1 class="card-text">
                <%=listing.title%>
              </h1>
              <p class="card-text" style="font-size: 0.9rem;">
                &#8377;<%= Number(listing.price).toLocaleString("en-IN") %>/night
              </p>
              <p class="card-text" style="font-size: 0.9rem;">
                <%= listing.location %>
              </p>

              <!-- Country Section (smaller font size) -->
              <p class="card-text" style="font-size: 0.9rem;">
                <%= listing.country %>
              </p>

            </div>
          </div>
          <%}%>
    </div>
    </a>
  </body>