<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=specificPost.title%></title>
</head>
<body>
    <h1>this is page for specific route</h1>
    <p><%=specificPost.title%></p>
    <p><%=specificPost.description%></p>
    <p>&#8377;<%=specificPost.price.toLocaleString("en-IN")%></p>
    <p><%=specificPost.location%></p>
    <p><%=specificPost.country%></p>

    <form method="get" action="/listings/<%=specificPost._id%>/edit">
        <button>Edit this listing</button>
    </form>
    <form method="post" action="/listings/<%=specificPost._id%>?_method=DELETE">
        <button>Delete this listing</button>
    </form>
</body>
</html>